// Variables

$gold : rgb(110, 94, 20);
$black: rgb(37, 37, 37);
$white: rgb(245, 245, 245);

$veryLittle:"only screen and (max-width:330px)";
$phone:"only screen and (max-width:760px)";
$medium:"only screen and (min-width:760px) and(max-width: 1200px)";
$large:"only screen and (min-width: 1200px)";

// Titres & Fonts

h1 {    
    z-index: +10;
    color: $white;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    display: flex;
   
    @media #{$phone} {  
        display: none;
        right:20px;
        top: 120px;
        font-size: 1em;            
    }

    @media #{$medium} {  
        right:20px;
        top: 330px;
        font-size: 1.7em;
    }

    @media #{$large} {
        left: 60%;
        top: 370px;
    }
}    

h2 {
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
    font-weight: bold;
    position: relative;
    text-align: center;
    color: $gold;    
    
    @media #{$phone} {        
        font-size: 1em;
        margin-bottom: 10px;        
    }

    @media #{$medium} {         
        font-size: 1.7em;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    @media #{$large} {
        font-size: 2.5em;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

h3 {
    font-family: 'Dancing Script', cursive;
    color: $white;
    font-size: 2em;
    padding-left: 30px;

    @media #{$phone} {        
        font-size: 0.7em;        
    }

    @media #{$medium} {         
        font-size: 1.2em;
    }

    @media #{$large} {
        font-size: 2em;
    }
}

h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    text-align: left;
    color: $gold;
    padding-left: 10px;

    @media #{$phone} {
        font-size: 1em;       
    }
}

.icone_appareil_photo {

    @media #{$phone} {
        font-size: 1rem; 
        margin-left: 5px;
        margin-right: 5px;  
        position: relative;
        top: 7px;
    }

    @media #{$medium} {
        font-size: 1.7rem; 
        margin-left: 15px;
        margin-right: 15px;  
        position: relative;
        top: 7px;
    }

    @media #{$large} {
        font-size: 2.5rem; 
        margin-left: 15px;
        margin-right: 15px;  
        position: relative;
        top: 7px;
    }
}

// Composants

button {
    background-color: $gold;
    border-radius: 8px; 
    border: 2px $white solid;
    margin-right: 40px;
    vertical-align: center;
    height: 40px;
    width: 120px;
    color: $white;


    &:hover {
        color: black;
    }

    &:active {
        position: relative;
        top: 2px;
        right: 2px;
    }

    @media #{$phone} {
        
        width: 60px;   
        margin: 0px;
        font-size: 0.7em;
        margin-left: 5px;
        margin-right: 5px; 
        margin-top: 25px;
        margin-bottom: 10px;     
    }
}

.lien_btn:hover {
    color: black;
}

// Header

.banniere {
    background-image: url("/images/vintage.jpg");  
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    z-index: +10;
    margin: 0px;

    @media #{$phone} {
        height: 80px;
    }

    @media #{$medium} {
        height: 230px;
    }
   
    @media #{$large} {
    height: 290px;
    }
}
 
.panier {
    font-size:1em;
    color: $white
}  

.lien_panier {
    color:$gold;  
}

.lien_nav {
    text-decoration: none; 
    font-family: 'Dancing Script', cursive;
    font-size: 1em;    
    color: $white;
}

.icone_contact {
    font-size: 1em;
    color: $white;
}

ul {   
    display: flex;
    list-style: none;
    align-content: space-around;

    @media #{$phone} {
        font-size: 1em;
        margin: auto;
        width: 95%;
    }
    @media #{$medium} {
        font-size: 3em;
    }
   
    @media #{$large} {
        font-size: 3em;
    }
}

a {
    color: $white;
    text-decoration: none;
}

li {   
    display:flex;
    width: 25%;
    margin-left : 10%;
    color: $gold;
    text-decoration: none;   

    @media #{$phone} {
       width: 33%;
       margin: 0px;
       justify-content: center;
       padding-right: 18%;
    }
}
      
.accueil:hover {
    border-bottom: 2px solid $gold;
}

.icone_contact:hover, .panier:hover {
    color: $gold;
}

#indexPanier {
    color: $gold;   
    font-family: 'Courier New', Courier, monospace;

    @media #{$phone} {
        font-size: 1em;
    }

    @media #{$medium} {
        font-size: 1.2em;
    }
   
    @media #{$large} {
        font-size: 1.2em;
    }
}

// Menu

body {
    background-color: $black;
    width: 100%;
    margin: 0px; 
}

 .container {
     width: 100%;
     margin: 0px;
     overflow: hidden;
}

img {
    @media #{$phone} {
        width: 100%;
        height:100%;
        margin: 0px;
    }
}

.liste-product {
    @media #{$phone} {
        display: flex; 
        height: 265px;  
        width: 90%;
    }
}

.box_photo {
  
    @media #{$phone} {
        display: flex;   
        width: 50%; 
        height: 100px;             
    }
    
    @media #{$medium} {
        display: flex;
        flex-direction: column; 
        height: 265px;  
        width: 400px;
        overflow: hidden;
        padding: 20px;
    }
   
    @media #{$large} {
        display: flex;
        flex-direction: column; 
        height: 265px;  
        width: 400px;
        overflow: hidden;
        padding: 20px;
    }
}

.appareil_box {
    background-color:$black;
    display: flex;
    border: 2px $white solid; 
    width: 100%; 

    @media #{$phone} {
        flex-flow: flex wrap; 
        width: 100%;              
    }
}   
   
.appareil_box--bloc_description {
    background-color: $black;
    text-align: right;
    display: flex;
    flex-direction: column;
      
    @media #{$phone} {
        width: 50%;
        font-size: 0.7em;
        text-align: center;
        margin-left: 5px;
       margin-right: 5px;           
    }  
}

.prix {
    color : $white;
    font-size: 2em;
    padding-left:20px;
    padding-top: 50px;  

    @media #{$phone} {
        font-size: 0.7em;
        padding: 0px; 
        position: relative;
        top: 10px;
        left: 30px;           
    }
}

.description_produit {
    color : $white;
    font-size: 1.2em;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
   
    @media #{$phone} {
        display: flex;
        width: 100%;  
        font-size: 0.7em;
        padding-left: 5px;
        padding-right: 5px;          
    }
}

.produit_last_box {
    width: 300px; 

    @media #{$phone} {
        font-size: 0.8em;
        width: 30%;             
    }
}

// Page product

.box_produit {
    display: flex;
    border: 2px $white solid;
     
    @media #{$phone} {
       margin-top: 50px;
       margin-bottom: 50px;
    }
}

.image_de_l_appareil_photo {
    width: 30%;
}

.nom_appareil {
    font-size: 3em;
    color: $gold;
    position: relative;
    bottom: 10px;
    
    @media #{$phone} {
        font-size: 2em;   
        position: relative;
        top: 10px;
    }
}

.prix_and_button {
    color: $white;
    display: flex;
    width: 40%; 
    font-size: 1.2em;

    @media #{$phone} {
        font-size: 0.9em;             
    }
}

#priceProduct {
    font-size: 1.2em;

    @media #{$phone} {
        font-size: 0.9em;            
    }
}

.prix_product {
    font-size: 1.2em;
    width: 100%;
    
    @media #{$phone} {
        font-size: 0.9em; 
        position: relative;
        top: 8px;
        padding-left: 10px;     
    }

    @media #{$medium} {
        font-size: 1em;  
        position: relative;
        top: 40px; 
        right: 250px; 
        width: 200px;        
    }
}

.appareil_details {
    width: 50%;
    padding-left: 10px;
    padding-top: 5px;
    
    @media #{$phone} {
        font-size: 0.8em;
        padding-top: 5px;
    }   
}

.appareil_lentilles {
    font-size: 1.5em;
    color: $white;
    margin-top: 20px;
    margin-bottom: 20px;

    @media #{$phone} {
        font-size: 0.7em;
    }

    @media #{$medium} {
        font-size: 1em;  
        position: relative;
        top: 70px;          
    }
}

select {
    width: 250px;
    height: 40px;
    position: center;
    background-color: $gold;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 30px;

    @media #{$phone} {
        font-size: 0.8em;
        width: 100px; 
        height: 20px;            
    }
}

.choisir_option {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;  
}

.personalisation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20%;
    width:40%;
    @media #{$phone} {
        font-size: 0.8em;
        width: 40%;
        padding: 0px;             
    }
}

.titre_description_et_contenu_description {
    display: flex;
    color: $white;
    margin: 0px;
    border: 2px solid $white;
    height: 300px;
    font-size: 2em;

    @media #{$phone} {
        height: 100px;
        font-size: 0.9em;
    }
}

.titre_description {
    width: 30%;
    padding-left: 10px;
    font-size: 1em;
}

.product__details {
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;

    @media #{$phone} {
        font-size: 1em;               
    }
}

.btn_commande {        
    width: 100%;
    justify-content: center;
    display: flex;    
}

.btn_product {
    height: 50px;
    width: 170px;
    margin-top: 50px;
    margin-bottom: 20px;


    @media #{$phone} {
        width: 100px;
        height: 40px;
        font-size: 0.9em;
        vertical-align: center;
        justify-content: center;
        display: flex;
    }
}

// Page de confirmation

.confirmation {
    color: $white;
    text-align: center;
}

#firstName {
    color: $gold;
}

#orderId  {
    color: red;   
}

#tableau_facture {
    vertical-align: center;
    justify-content: center;
    margin: 10%;
    width: 80%;
}

td{
    border: 2px solid $white;
}

tr{
    border: 2px solid $white;
}

th{
    border: 2px solid $white;
}

#article_acheté {
    border: 2px solid $white;
}

.photo_article_acheté {
    height: 267px;
    width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
   
    @media #{$phone} {
        height: 85px;
        width: 115px;;
    }   
}

 .retour_accueil {
    color: #465bef;
    margin-left: 20px;
}

// Footer

footer {
    background-color:rgb(37, 37, 37);
    height: 100px;
    width: 100%;
    color: $white;
    font-size: 2em;
    text-align: center;
}

// Panier

.menu {
    justify-content: center;
    align-items: center;
}

#panier_utilisateur {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: $gold;  
    margin-top: 5%;
    margin-bottom: 5%;
}

.box_tableau {
    width: 100%;
    
    table {
        width: 80%;  
        margin-left: 5%;
        margin-right: 15%; 

        @media #{$phone} {
            font-size: 0.7em;
        }   

        @media #{$medium} {  
            font-size: 0.8em;
        }
    }
} 

th {
    font-size: 1.5em;
    color: $white;   
}

td {
    border: 2px solid $white;
    text-align: center;
    font-size: 2em;
    height: 130px;
    width: 230px; 
    color: $gold; 
    
    @media #{$phone} {
        width: 20%;
        height: 10px;
        font-size: 1.5em;
    }    
}

#tva {
    color: $white;
}

tr {
    border: 2px solid $white;
    font-family: 'Dancing Script', cursive;

    @media #{$phone} {
        font-size: 0.8em;
     }   
}

.image_produit_panier {
    height: 170px;
    width: 230px; 
    padding-top: 3%;

    @media #{$phone} {
       height: 85px;
       width: 115px;;
    }   
    
    @media #{$medium} {  
        width: 200px;
    }
}

.button_supprimer {
    height: 40px;
    position: relative;
    top: 80px;
    left: 20px;

    &:hover {
        color: rgb(148, 6, 6);
        font-weight: bold;
    }

    &:active {
        position: relative;
        top: 82px;
        left: 22px;
    }   

    @media #{$phone} {
        font-size: 0.9em;
        position: relative;
        top: 5px;
        left: 2%;
        width: 50px;
          
        &:active {
            position: relative;
            top: 7px;
            left: 3%;           
        }
    }      
}

.petit_btn_supprimer {
    display: none;
}

@media #{$veryLittle} {

    .button_supprimer {
        display: none;
    }

    .petit_btn_supprimer {
        
        display: block;
        height: 17px;
        width: 17px;
        position: relative;
        top: 15px;
        background: $white;
        font-weight: bold;
        color: $gold;
        background-image: url(/images/delete.png);  
        background-size: 100%;
        background-repeat: no-repeat;

            &:hover {
                background-image: url(/images/delete2.png);  
                background-size: 100%;
                background-repeat: no-repeat;
            }

            &:active {
                position: relative;
                top: 15px;
                height: 15px;
                width: 15px;
                left: 2px;
            }
    }
    
    table {
        position: relative;
        right: 10px;
    }
}

#montant_total {
    color: $white;
}

fieldset {   
    padding-left: 10%;
}

legend {
    color: $gold;
}

.btn_radio {
    margin-bottom: 20px;
    color: $white;   
}

.formulaire {
    display: flex;
    
    .donnees_utilisateurs {
        width: 350px;  
        margin-top: 10px;
        margin-bottom: 10px; 
        
        @media #{$phone} {
           width: 120px;
        }
    }

    label {
        color: $white;
        width: 200px;
        margin-top: 10px;
        margin-bottom: 10px; 

        @media #{$phone} {
            width: 120px;
        }
    }       
}

.btn_envoi_formulaire {
    width: 20%;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
    font-size: 2em;
    height: 40px;

    @media #{$phone} {
        font-size: 1em;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }    
}

