$gold : rgb(110, 94, 20);
$black: rgb(37, 37, 37);
$white: rgb(245, 245, 245);
$Grey : rgb(206, 206 ,206);

$phone:"only screen and (max-width:760px)";
$medium:"only screen and (min-width:760px) and(max-width: 1200px)";
$large:"only screen and (min-width: 1200px)";