h1 {       
    font-family: 'Dancing Script', cursive;
    position: relative; 
    left:1050px;
    bottom: 210px;
    text-align: left;
    color: $white;
    padding-top: 20px;
    padding-right: 35px;
    display: flex;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
    position: relative;
    bottom: 140px;
}

h3 {
    font-family: 'Dancing Script', cursive;
    color: $white;
    font-size: 2em;
    padding-left: 30px;
}

h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    text-align: left;
}

.icone_appareil_photo {
    font-size: 2rem;   
    margin: 15px;
}